<div class="modal modal fade" id="agentComentary" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Observación</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">                    
                <div class="form-group">
                    <p id="agentCommentShowName"></p>
                    <label>Comentario:</label>
                    <textarea class="form-control" id="commentDriverInput" cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="registerComment()">Guardar</button>
            </div>
        </div>
    </div>
</div>