<div class="modal fade" id="agentComentaryHistory" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Observación</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p id="agentCommentShowNameHistory"></p>
                    <label>Comentario:</label>
                    <textarea class="form-control" id="commentDriverInputHistory" cols="30" rows="5" disabled></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>